body {
    background-color: black;
    font-family: 'Didact Gothic', sans-serif;
    color: whitesmoke;
}

.container {
    margin-bottom: 65px;
}

.jumbotron {
    text-align: center;
     background-color: darkred;
}

.go {
    background-color: darkred;
    color: white;
    font-size: 70px;
}

#sub {
    background-color: darkred;
    color: white;
}
#par {
    background-color: darkred;
    color: white;
}

.meal-img {
    background-color: darkred;
    float:right;
    padding: 10px;
    width: 300px;
    height: 300px;
}

h3 {
    background-color: darkred;
    text-align: center;
}

.first-form {
    background-color: darkred;
    margin:auto;
    text-align: center;
}

.second-form {
    background-color: darkred;
    margin:auto;
    text-align: center;
}

.meals {
    /* background-color: darkred; */
    display: none;
}

.drinks {
    /* background-color: darkred; */
    display:none;
}

.display-slick {
    background-color: darkred;
    margin:auto;
    /* display: none; */
}

.carousel-item {
    /* text-align: center; */
    padding: 5px;
}
.carousel-img {
    height: 200px;
    width: 200px;
}

.heading {
    font-size: 120px;
    font-family: 'Work Sans', sans-serif;
}

#sub {
    font-size: 25px;
}

#par {
    font-size: 25px;
}

.btn {
    font-family: 'Maven Pro', sans-serif;
}

#random-meal {
    margin-top: 10px
}

#meal-search {
    margin-bottom: 10px
}

#meals {
    margin-bottom: 10px
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px; 
    background-color: darkred;
    text-align: center;
}

#reset-button{ 
    margin-top: 10px;
    display:none;
}
